<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Admin Cookies-->
    <add key="AdminLoginCookieName" value="AdminLoginCookie"/>
    <!--Crypt-Decrypt Start -->
    <add key="CryptPassPhrase" value="VMIMT2009"/>
    <add key="CryptSaltValue" value="MTVMI2009"/>
    <add key="CryptHashAlgorithm" value="SHA1"/>
    <add key="CryptPasswordIterations" value="2"/>
    <add key="CryptInitVector" value="@1B2c3D4e5F6g7H8"/>
    <add key="CryptKeySize" value="256"/>
    <!--Crypt-Decrypt End -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="OPTICSConnectionString" connectionString="Data Source=DESKTOP-F1L32QB;Initial Catalog=OPTICS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>